<div>
    <div class="title">Weather</div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
                <mat-option *ngFor="let city of cities$ | async" [value]="city.name">{{city.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button color="primary" (click)="handleCityClicked($event)">Update</button>
        <div *ngIf="(weatherInfo$|async)" class="weather-info">
            <div class="city">{{(weatherInfo$|async)?.name}}</div>
            <div>{{(weatherInfo$|async)?.weather[0]?.icon}}</div>
            <div>{{(weatherInfo$|async)?.weather[0]?.main}}</div>
            <div>{{(((weatherInfo$|async)?.main?.temp -32) * 5/9)}}</div>
            <div>{{(weatherInfo$|async)?.main?.humidity}}</div>
            <div>{{(weatherInfo$|async)?.main?.pressure}}</div>
            <!--{{ weatherInfo$ | async | json}}-->
        </div>
    </div>
</div>
